<%- if controller_name != 'sessions' %>
    <div class="sign-in-link">
      <%= link_to t('devise.forms.sign-in-text'), new_session_path(resource_name) %>
    </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <div class="sign-up-link">
      <%= link_to t('devise.forms.sign-up-text'), new_registration_path(resource_name) %>
    </div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
<% end -%>

<%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
        <div class="text-center">
          <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
        </div>
    <% end -%>
<% end -%>